<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>
<main id="singh">
    <div id="abt">
      <h1 id="display-5">Welcome to the <%= title %> page</h1>
      
      <center> <h2>Arshdeep singh </h2> 
      <br>
     </div>
      <div id="image">
               <img src="assets\images\Arsh.jpg.jpeg" width="400" height="450"> 
       </div></center>
    <br>
    <div id="info">

        <h1><p>Link  <a href="assets\resume.docx"> Resume </a> </p></h1>
    <p> My Name is Arshdeep singh. I am the students of college . My elder brother studies in college. 
        One elder sister of mine is the college student whereas the the youngest sister of mine is studying class 8.
         That’s, I go to school with my younger sister. I wake up early in the morning and finish up all of my doings on exact time. We all pack up for our respective works.
         My siblings prepare for school, college and university. </p>
   
     <br><br> <br><br>
    </div>
  </main> 


<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%> 