<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>

  
   <!--Main Content-->
  <main id="main">
    <div id="Arsh">
      <h1 id="display-5">Welcome to the <%= title %> page</h1>
      <br><br>
     <h2>  Welcome to My E-Portfolio page.</h2>
<p><h3>
  Thank you for taking the time to look at this webpage. You can see my portfolio here. 
  You'll discover information on the services I offer at a reasonable cost, as well as some 
  intriguing projects that I've worked on or would want to work on.
   You can also contact me by simply clicking the contact icon on the navigation bar and 
   filling out the form.<h3></h3><br><br>
   <h3><a href="/about"> About </a></h3>



      
      </p>
 <br><br> <br><br> <br><br>

    </div>
   
  </main>    

 <%- include partials/bottom_nav.ejs%>

 <%- include partials/footer.ejs%> 





