<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>



<main id="project">
    <div id="jects">
      <h1 id="display-5">Welcome to the <%= title %> page</h1>
      
     
    </div>
 
      <h3> Project I.</h3><br><br>
        <img src="assets\images\pizza.jpg" width="400" height="400" class="center">
        <p >In Last semester i did the pizza pizza website using Graphical user interface in C#</p>
      
        <h3>Project II.</h3><br><br>
        <img src="assets\images\movie.jpg" width="400" height="300" class="center">  
        <p >In First Semester, i did student registaration form using css, java script and Html</p> 
      
       <h3> Project III.</h3><br><br>
        <img src="assets\images\temp.jpeg" width="400" height="300" class="center">
        <p >In last semester, I did little project that called Web Register website</p>   
      
        


  </main> 




<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%> 