<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>


<main id="service">
    
      <h1 id="display-5">Welcome to the <%= title %> page</h1>
      
     
        <div id ="image">
        <h3>Software</h3><br><br>
        <img src="assets\images\comp.jpg"width="400" height="280" ><br>
        <br>

        <p >I have knowledge how to start and set up the new computer and also little knowledge about the applications as well.</p><br><br>
        <h3>Programming</h3><br><br>
        
        <img src="assets\images\prog.jpg" width="400" height="280"> <br><br>
        
        <p >I have exprience about programming language like java, C#, Python and others.
             I can provide service about the language=s</p><br><br>
        <h3>Operating System</h3><br><br>
        
        <img src="assets\images\window.jpg"width="400" height="280" >   <br><br>
        </div>
        <p >I have information about how to install the window as well how to operate the window operating system.</p>
         </div>
<br><br><br><br>



  </main> 



<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%> 